<!DOCTYPE html>
<html>
<head>
  <title>Node database tutorial</title>
  <script src="../src/js/jquery-1.9.0.js"></script>
  <!--<script src="../static/js/script.js"></script>-->
</head>
<body>
  <form class="Login">
    <h1>Login</h1>
    <input type="text" class="username" placeholder="username">
    <input type="text" class="classCode" placeholder="classCode">
    <input type="submit" value="Login">
  </form>

  <form class="CreateUser">
    <h1>Create account</h1>
    <input type="text" class="username"   placeholder="username">
    <input type="text" class="classCode"  placeholder="classCode">
    <input type="submit" value="Create">
  </form>

  <script src="../src/js/phaser.js"></script>
  <script src="../src/js/index.js"></script>

</body>
</html>
